{{#link-to 'admin-dashboard'}}{{t 'general.backToAdminDashboard'}}{{/link-to}}
<section class='fullwidth main-border assign-students' data-test-assign-students>
  <div class="filter-tools">
    <div class="filter">
      <label class="inline-label">
        {{fa-icon 'university'}}
      </label>
      <div class="inline-data" data-test-selected-school>
        {{#if hasMoreThanOneSchool}}
          <select onchange={{action "changeSelectedSchool" value="target.value"}}  data-test-school-filter>
            {{#each (sort-by 'title' model.schools) as |school|}}
              <option value={{school.id}} selected={{is-equal school selectedSchool}}>
                {{school.title}}
              </option>
            {{/each}}
          </select>
        {{else}}
          {{selectedSchool.title}}
        {{/if}}
      </div>
    </div>

    <div class="filter">
      {{one-way-input filter placeholder=(t 'general.pendingUserUpdates.filterBy') update=(action (mut filter))}}
    </div>
  </div>

  {{#liquid-if (is-fulfilled displayedUnassignedStudents)}}
    {{assign-students
      students=(await unassignedStudents)
      school=selectedSchool
      limit=limit
      offset=offset
      setOffset=(action (mut offset))
      setLimit=(action (mut limit))
    }}
  {{else}}
    {{fa-icon 'spinner' spin=true}}
  {{/liquid-if}}

</section>
